//router-outlet ~ * {
//  position: absolute;
//  height: 100%;
//  width: 100%;

//WRAPPER FOR SIDE AND CONTENT
.sidenav-container {
  height: 100%;
}
//LEFT-SIDE
.left-side {
  //width: 300px;
  width: 20vw;
  min-width: 250px;
  margin-top: 30px;
  padding-top: 100px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.24);
  .wrap-side {
    padding: 10px 20px;
    mat-form-field {
      width: 100%;
    }
  }
}
//CONTENT-RIGHT-SIDE
mat-sidenav-content {
  width: 79vw;
  margin-top: 70px;
  padding-top: 30px;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,.1);
  .app-container {
    width: 100%;
    margin: auto;
    padding: 15px;
  }
}
