<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav left-side" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <div class="wrap-side">
      <mat-form-field class="select-acc">
        <mat-label>Select account</mat-label>
        <mat-select [(value)]="selected" #sl>
          <mat-option *ngFor="let acc of accountsTotals; let i = index" [value]="acc.total" [routerLink]="['/payments', i, 'account']" (click)="onAccountSelect(i)">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="sel-center">
        <mat-label>By Data Center</mat-label>
        <mat-select [(value)]="selected" #sl>
          <mat-option *ngFor="let acc of dataCenters; let i = index" [value]="acc.total" [routerLink]="['/payments', i, 'datacenter']" (click)="onDataCenterSelect(i)">{{acc.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-nav-list>
        <h3 mat-subheader>Products</h3>
        <mat-list-item *ngFor="let ac of initAllAccServices" [routerLink]="['/payments/product', ac.id, ac.label]">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{ac.label}}</h4>
          <p mat-line> {{ac.value | currency}} </p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content >
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
